<h3 style="color:#9C2542"> ADD LEAVE HEADS</h3>

<%= form_for [@employee,@leave_head] do |l|%>
    <label>Name</label>
    <%= l.text_field :name%><br/><br/>
    <label>Number</label>
    <%= l.text_field :number%><br><br/>
    <%= l.submit %>
<%end%>