<h2 style="color:#9C2542"> Employee Leave Head</h2>



<table class="table table-bordered" id="myTable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>number</th>
    </tr>
  </thead>


<tbody>
<% @leave_heads.each do |leave|%> 
    <tr>
      <td><%= leave.id %></td>
      <td><%= leave.name %></td>
      <td> 
      </td>
    </tr>
    <%end%>
</tbody>
</table>

<br/>
<%#= render "form"%>

<%#= link_to "apply leave", leave_allotments_path(employee.id,leave_head.id)%>


