=link_to 'Add Employee', new_employee_path, class: 'btn btn-primary pull-right'

%h3 List of Employees

- if @employees.empty?
  .well
    %p No employee in the database. You can choose the following options to upload employees:
    %ol
      %li Create record with form manually. Click to Add Employee button.
      %li Run seed import. (rake db:seed)
      %li Import employees from csv file.

- else

  =render 'list'

%h3 Import Employees

%p
  Download:
  = link_to "CSV", employees_path(format: "csv")
  = link_to "Excel", employees_path(format: "xls")


