




<h2 style="color:#9C2542">  Leave assignment</h2>



<table class="table table-bordered" id="myTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>HEAD</th>
    </tr>
  </thead>


<tbody>
<% @leave_assignments.each do |leave_assignment|%> 
    <tr>
      <td><%= leave_assignment.leave_head.try(:id)%></td>
      <td><%= leave_assignment.leave_head.try(:name)%></td>
    </tr>
    <%end%>
</tbody>
</table>

<br/>
<%= link_to "add leave head",new_leave_structure_leave_assignment_path%>



