
<center>
<h2>leave assignment</h2>


<% if @leave_assignment.errors.any? %>
    <ul>
        <% for msg in @leave_assignment.errors.full_messages %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>


<h3 style="color:#9C2542"> ADD LEAVE HEADS</h3><br/>

<%= form_for [@leave_structure,@leave_assignment] do |l|%>
    <label>Leave  :</label><br/>
      <%= l.collection_select :leave_head_id, LeaveHead.all, :id, :name, prompt: "select leavehead"%><br/><br/>



<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 <i class="icon-ok icon-white"></i> Save
<% end %>


<%end%>
</center>