<h2 style="color:#9C2542"> Employee Leave Balance</h2>
<%= @employees.name%>








<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>LeaveHeads</th>
    <th>Balance</th>
  </tr>
  </thead>


  <tbody>
  <% @employees.all do |employee|%>
  <% employee.leave_heads.each do |leave|%>
      <tr>
        <td><%= leave.pluck(:name) %></td>
        <td><%= leave.pluck(:number)%></td>
      </tr>
    <%end%>
    <%end%>

  </tbody>
</table>

<br/>
<%#= render "form"%>