

<h3> Enter Gross</h3><hr/>
<%= form_for(@structure)  do |s|%>




    <div class="form-group ">
      <label>Gross Salary:</label>
      <%= s.text_field :gross_salary%><br/>
    </div>




    <div class="form-group ">
<label>select Employee</label>
<%= s.collection_select :employee_id ,Employee.all , :id , :name%><br/>
</div>





<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 <i class="icon-ok icon-white"></i> Save changes
<% end %>
</div>

<%end%>
</div>


