


<center>
<%= render "form"%>
</center>


<%#= link_to "New Employee Detail",new_detail_path%> 


<table class="table table-bordered" id="myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Structure</th>
    </tr>
  </thead>


<tbody>
	<% @leave_allotments.each do |leave_allotment|%> 
	<tr>
      <td><%= leave_allotment.employee.try(:name) %></td>
    	<td><%= leave_allotment.leave_structure.try(:name)%></td>
    	<td> <%= link_to "apply", leave_allotment_leave_applies_path(leave_allotment.id)%></td>
</tr>
<%end%>
</tbody>
</table>

