.jumbotron
  %h1{:style => "color:#FF033E"} PayRoll
  .row.middle
    .col-md-6
      .box
        %p Employee Database
        .text
          You can manually add new employees to the database or import from csv file.
        %br/

        = link_to 'Employees', employees_path, class: 'btn btn-success btn-large btn-block' if user_signed_in?
    .col-md-6
      .box
        %p Create Employees
        .text
          Create payslips for employees in the database and export in csv file.
        %br/
        = link_to 'create employees', new_employee_path, class: 'btn btn-warning btn-large btn-block' if user_signed_in?
