<h3>DETAILS</h3>

<table class="table table-condensed">
	<thead>
		<tr>
			<th> Designation </th>
			<th> Department </th>
			<th> Salary Structure </th>
		</tr>
	</thead>

	<% Detail.all.each do |detail| %>
	<tbody>
		<tr>
			<td> <%= detail.designation %> </td>
			<td> <%= detail.department %> </td>
			<td> <%= detail.salary_structure %> </td>
		</tr>
	</tbody>
<%end%>
</table>
<%= link_to "New Employee",new_employee_path%> 